@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

a {
	list-style: none;
	text-decoration: none;
}
.cta {
	color: white;
	background-color: #ff0157;
	text-transform: uppercase;
	padding: 10px 30px;
	font-size: 1em;
	display: inline-block;
	margin-top: 20px;
	letter-spacing: 2px;
	transition: 0.5s;
}

span {
	color: #ff0157;
	font-size: 1.5em;
	font-weight: 700;
}

.cta:hover {
	letter-spacing: 6px;
}

/* --- SESSÃO BANNER --- */
.banner {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	background-image: url("/images/bg.jpg");
	background-size: cover;
	height: 100vh;
	width: 100%;
}

.banner .content {
	max-width: 900px;
	text-align: center;

}
.banner .content h2 {
	color: #fff;
	font-size: 5em;
}
.banner p {
	color: #fff;
	font-size: 1rem;
}
/* --- FIM SESSÃO BANNER --- */

/* --- HEADER --- */
header {
	position: fixed;
	top: 0;
	left: 0;
	padding: 40px 100px;
	width: 100%;
	z-index: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.5s;
}

header.sticky {
	background: #fff;
	padding: 10px 100px;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

header .logo {
	color: #fff;
	font-size: 2em;
	font-weight: 700;
}

header.sticky .logo {
	color: #111;
}
header .navigation {
	position: relative;
	display: flex;	
}
header .navigation li {
	list-style: none;
	margin-left: 30px;
}
header .navigation li a {
	color: #fff;
	font-weight: 400;
}
header .navigation li a:hover {
	color: #ff0157;
}

header.sticky .navigation li a {
	color: #111;
}
/* --- FIM SESSÃO HEADER --- */

/* --- SESSÃO ABOUT --- */

section {
	padding: 100px;

}

.row {
	
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
	height: 800px;
}

.row .col50 {
	position: relative;
	width: 48%;
}
.titletext {
	color: #111;
	font-size: 2em;
	font-weight: 300;
}

.row .col50 .imgBx {
	position: relative;
	width: 90%;
	height: 70%;
	
}
.row .col50 .imgBx img {
	position: absolute;
	top: 0px;
	left: 0;
	width: 80%;
	height: 70%;
	object-fit: cover;
}


